main{
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation: aparecer 1.5s ease;
    margin-top: 27px;
    margin-bottom: 19px;
}

section{
    width: 100%;
    height: 643px;
    border: 1px solid white;
    background-color: #c4c4c4;
    max-width: 891px;
    overflow: hidden;

}
#cont-agenda{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 22px;
}
section div div{
    width: 279px;
    color: white;
    background-color: black;
}
section p{
    text-transform: uppercase;
    text-align: center;
    font-size: 62px;
    margin: 0;
}
#cont-ul{
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-top: 35px;
}
ul{
    width: 393px;
}
li{
    font-family: poppins;
}
#block-teste{
    width: 350px;
    height: 292px;
    background-color: black;
    position: relative;
    left: -134px;
    transform: rotate(39deg);
}
#block-teste2{
    width: 379px;
    height: 292px;
    background-color: black;
    position: relative;
    left: 673px;
    bottom: 914px;
    transform: rotate(45deg);
}

@media screen and (max-width:1000px) {
    section{
        width: 80%;
        height: 617px;
    }
    section p{
        font-size: 48px;

    }
    #cont-ul{
        font-size: 19px;
    }
    #block-teste{
        width: 300px;
        height: 263px;
        left: -125px;
        bottom: -90px;
    }
    #block-teste2{
    width: 307px;
    height: 292px;
    left: 632px;
    bottom: 825px;
    }
}

@media screen and (max-width:986px) {
    #block-teste2{
        width: 312px;

        left: 619px;
    }
}

@media screen and (max-width:850px){
section p{
    font-size: 35px;
}
#cont-agenda{
    margin-top: 51px;
}
#cont-ul{
    font-size: 17px;
    margin-top: 60px;
}
#block-teste{
    left: -161px;
}
#block-teste2{
    left: 547px;
}
}

@media screen and (max-width:750px) {
    #block-teste{
        left: -195px;
    }
}

@media screen and (max-width:690px) {
    #block-teste2{
        left: 467px;
    }
}

@media screen and (max-width:604px) {
    #block-teste{
        left: -236px;
    }
}
@media screen and (max-width:580px) {
    #block-teste2{
        left: 407px;
    }
}
@media screen and (max-width:500px) {
    #block-teste{
        left: -280px;
    }
}
@media screen and (max-width:499px) {
    #block-teste{
       display: none;
    }    
    #block-teste2{
        display: none;
    }
}