#particles-js {
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

#particles-js.light {
    background: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
