img{
  object-fit: cover;
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}

#nav1{
    display: flex;
}
#nav1 p{
    margin-right: 18px;
    margin-left: 35px;
    font-family: 'Poppins';
}
#nav2 p{
  margin-right: 16px;
  /* padding-bottom: 0px; */
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

nav p{
  color: white;
}

body {
    background-color: black
  }
  #section1 {
    background-color: #c4c4c4;
    display: flex;
    max-width: 877px;
    width: 100%;
    margin-top: 69px;
    margin-left: 35px;
    border: 3px solid white;
  }
  #bloc-black1 {
    background-color: black;
    width: 194px;
    margin-left: 337px;
    height: 63px;
  }

  #p1 {
    font-family: "Boston Angel";
    font-size: 50px;
    margin: 0px 50px;
  }
  #bloc-black2 {
    background-color: black;
    width: 276px;
    display: flex;
    justify-content: end;
    padding-bottom: 5px;
  }
  #p2 {
    font-family: "Boston Angel";
    font-size: 50px;
    margin: 0px;
    color: white;
  }
  .font2 {
    font-family: "Poppins";
    width: 401px;
    font-size: 20px;
    margin-left: 47px;
  }
  #block-black3 {
    width: 223px;
    height: 43px;
    background-color: black;
    margin-left: 211px;
  }
  #rightside-1 img {
    height: 100%;
    width: 100%;
    max-width: 346px;
    max-height: 438px;
    transition: transform 1s ease;
  }
  #rightside-1 img:hover{
    transform: scale(1.1);
  }
  #container2{
    display: flex;
    justify-content: end;
    margin-right: 2%;
  }
  #section2 {
    background-color: #c4c4c4;
    display: flex;
    max-width: 877px;
    width: 100%;
    margin-top: 27px;
    margin-left: 35px;
    border: 3px solid white;
  }

  #leftside-2 > p:first-child{
    font-size: 30px;
    font-family: poppins;
    font-weight: 100;
    letter-spacing: 13px;
    margin-left: 126px;
    margin-right: 133px;
  }
  #rightside-2{
    height: 438px;
  }
  #rightside-2 img {
    height: 100%;
    width: 346px;
    max-width: 346px;
    max-height: 438px;
    transition: transform 1s ease;
}
#rightside-2 img:hover {
  transform: scale(1.1);
}
#foto{
    width: 240px;
    background-color: black;
}
#foto p{
    font-size: 95px;
    margin: 0;
    margin-left: 67px;
}
#foto span{
    color: white;
}
#desc-nome1{
    font-family: poppins;
    font-size: 25px;
    font-weight: 500;
    margin-top: 89px;
    margin-left: 87px;
    margin-bottom: 0
}
#desc-nome2{
    font-family: poppins;
    font-size: 23px;
    font-weight: 400;
    margin-top: 1px;
    margin-left: 102px;
}
#section3 {
    background-color: #c4c4c4;
    display: flex;
    max-width: 1118px;
    width: 100%;
    margin-top: 45px;
    margin-left: 35px;
    border: 3px solid white;
  }

  #leftside-3 > p:first-child{
    font-size: 58px;
    margin-left: 44px;
    margin-bottom: 0;
  }

  #block-black4{
    background-color: black;
    width: 290px;
    color: white;
  }

  #p-section3{
    font-size: 58px;
    margin-top: 1px;
    margin-left: 99px;
    padding-bottom: 3px;
    margin-bottom: 0;
  }
  #p1-section3{
    width: 324px;
    font-size: 27px;
    margin-left: 53px;
    font-family: poppins;
}
#p2-section3{
  font-size: 26px;
  width: 367px;
  margin-left: 53px;
  font-family: poppins;
  font-weight: 300;
}
#rightside-3{
background-color: black;
display: flex;
}
#rightside-3 div{
  margin-top: 7px;
  margin-right: 11px;
}
#img1-sect3{
  height: 100%;
  max-height: 595px;
  margin: 7px 11px;
  transition: transform 1s ease;
}
#img1-sect3:hover{
  transform: scale(1.1);
}
#img2-sect3{
  max-height: 292px;
  height: 100%;
  transition: transform 1s ease;
}
#img2-sect3:hover{
  transform: scale(1.1);
}
#img3-sect3{
  max-height: 292px;
  height: 100%;
  margin-top: 6px;
  transition: transform 1s ease;
}
#img3-sect3:hover{
  transform: scale(1.1);
}
#container4{
  display: flex;
  justify-content: end;
  margin-right: 2%;
}
#section4 {
  background-color: #c4c4c4;
  max-width: 855px;
  width: 100%;
  margin-top: 45px;
  margin-left: 35px;
  display: flex;
  justify-content: space-between;
  border: 3px solid white;
}
#leftside-4{
  padding-top: 23px;
}

#block-black5{
  width: 100%;
  max-width: 376px;
  padding-top: 0px;
  max-height: 69px;
  height: 100%;
  color: white;
  background-color: black;
}
#block-black5 p{
  font-size: 58px;
  margin: 0;
  margin-left: 36px;
}
#p2-section4{
  margin: 0;
  font-family: poppins;
  font-size: 23px;
  width: 321px;
  margin-left: 34px;
  margin-top: 21px;
}

#fale{
  width: 116px;
  margin-left: 23px;
  background-color: black;
  height: 46px;
  font-family: 'Poppins';
  color: white;
  border: 1px solid black;
  border-radius: 31px;
}

#icon1{
  display: flex;
  max-width: 463px;
  margin-left: 27px;
  margin-top: 48px;
  align-items: center;
}
#icon1 img{
  width: 93px;
}
#icon1 p{
  font-family: poppins;
    font-size: 23px;
    margin-left: 5px;
}
#icon2{
  display: flex;
  max-width: 336px;
  margin-left: 31px;
  align-items: center;
}
#icon2 img{
  width: 80px;
  height: 79px;
}
#icon2 p{
  font-family: poppins;
  padding-left: 15px;
  font-size: 18px;
}
#icon3{
  display: flex;
  margin-left: 25px;
  max-width: 243px;
  align-items: center;
}
#icon3 img{
  width: 98px;
}
#icon3 p{
  font-family: poppins;
    font-size: 18px;
}
#rightside-4{
  max-width: 274px;
  padding-top: 69px;
}
#rightside-4 img{
  width: 230px;
  margin-bottom: 40px;
}
footer{
  margin-top: 20px;
  /* height: 100px; */
  background-color: black;
  font-size: 15px;
  color: white;
  border: 1px solid white;
}
.rodape{
  display: flex;
  padding-top: 6px;
  justify-content: space-around;
  align-items: center;
}
#content-rodape1 p{
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
#content-rodape2{
  margin-top: 16px;
}
#content-rodape2 p{
  text-transform: uppercase;
  font-family: poppins;
  margin: 0;
  text-align: center;
}
#content-rodape3 p{
  text-transform: uppercase;
  font-family: poppins;
  margin: 0;
  text-align: center;
}
#content-rodape4 img{
  width: 80px;
  border-radius: 37px
}
#assinatura{
  text-align: center;
}


@media screen and (max-width:1200px) {
  #section1{
    max-width: 834px;
  }
  #p1, #p2{
    font-size: 40px;
  }
  .font2{
    font-size: 17px;
  }
  #section2{
    margin-top: 46px;
  }
  #desc-nome1{
    font-size: 22px;
  }
  #desc-nome2{
    font-size: 20px;
  }
  #section3{
    max-width: 990px;
  }
  #leftside-3 > p:first-child, #p-section3{
    font-size: 53px;
  }
  #p1-section3{
    font-size: 23px;
  }
    #p2-section3{
      font-size: 22px;
    }
    #img1-sect3{
      max-height: 465px;
    }
    #rightside-3 div {
      display: inline-grid;
      max-height: 467px;
  }
  #img2-sect3 {
    max-height: 204px;
    height: 203px;
    width: 188px;
}
  #img3-sect3 {
  max-height: 251px;
}
#p2-section4{
  font-size: 20px;
}
}


@media screen and (max-width:1100px) {
  #leftside-2 > p:first-child{
    font-size: 26px;
  }
  #desc-nome1{
    font-size: 20px;
  }
  #desc-nome2{
    font-size: 18px;
  }
  #section2{
    max-width: 857px;
  }
  #section3{
    max-width: 832px;
  }
  #leftside-3 > p:first-child, #p-section3{
    font-size: 50px;
  }
  #p1-section3{
    font-size: 21px;
  }
    #p2-section3{
      font-size: 20px;
      width: 295px;
    }
    #img1-sect3{
      max-height: 454px;
        max-width: 238px;
    }
    #rightside-3 div {
      display: inline-grid;
      max-height: 464px;
  }
  #img2-sect3 {
    width: 183px;
}
  #img3-sect3 {
    max-height: 244px;
    margin-bottom: 6px;
}
#section4{
  max-height: 570px;
}
}


@media screen and (max-width:960px){
  header{
    font-size: 14px;
  }
  #nav1 p{
    margin-left: 15px;
  }
  #section1, #section2, #section4 {
    max-width: 550px;
}
#bloc-black1 {
  width: 142px;
  margin-left: 169px;
  height: 42px;
}
#p1{
  margin: 0px 38px;
    margin-top: 18px;
}
#p1,#p2{
font-size: 33px;
}
#bloc-black2{
  width: 171px;
}
.font2{
  font-size: 13px;
  width: 207px;
  margin-left: 40px;
}
#block-black3 {
  width: 168px;
  height: 29px;
  margin-left: 77px;
  margin-top: 22px;
}
#rightside-1 img {
  max-width: 271px;
  max-height: 361px;
}
#container2{
  display: flex;
}
#leftside-2 > p:first-child{
  font-size: 18px;
  margin-top: 41px;
        margin-bottom: 77px;  
        margin-left: 46px;
        margin-right: 54px;
}
#foto{
  width: 143px;
  background-color: black;
}
#foto p{
  font-size: 60px;
  margin-left: 30px;
}
#desc-nome1{
  font-size: 17px;
  margin-top: 65px;
  margin-left: 32px;
}
#desc-nome2{
  font-size: 17px;
  margin-left: 37px;
}
#rightside-2{
  height: 373px;
}
#rightside-2 img{
  max-width: 239px;
  max-height: 373px;
}
#section3{
  max-width: 548px;
}
#leftside-3 > p:first-child, #p-section3 {
  font-size: 38px;
}
#block-black4{
  width: 207px;
}
#p-section3{
  margin-left: 78px;
}
#p1-section3{
  font-size: 16px;
    width: 195px;
    margin-left: 53px;
}
#p2-section3{
  font-size: 16px;
  width: 227px;
  margin-left: 47px;
}
#img1-sect3 {
  max-height: 342px;
  max-width: 140px;
}
#rightside-3 div {
  max-height: 340px;
}
#img2-sect3 {
  width: 101px;
  margin-bottom: 4px;
  height: 191px;
}
#img3-sect3 {
  max-width: 100px;
   height: 140px;
}
#container4{
  display: flex;
  justify-content: end;
}
#block-black5{
  max-width: 269px;
  max-height: 48px;
}
#block-black5 p{
  font-size: 38px;
}
#p2-section4{
  font-size: 16px;
  width: 231px;
}
#icon1{
  max-width: 317px;
  margin-left: 5px;
}
#icon1 img{
  width: 75px;
}
#icon1 p{
    font-size: 16px;
    width: 264px;
    margin-left: -2px;
}
#fale {
  width: 196px;
  margin-left: 23px;
  background-color: black;
  height: 40px;
  font-family: 'Poppins';
  color: white;
  border: 1px solid black;
  border-radius: 31px;
}
#icon2{
  margin-left: 12px;
}
#icon2 img{
  width: 61px;
  height: 61px;
}
#icon2 p{
  padding-left: 11px;
  font-size: 16px;
}
#icon3{
  margin-left: 1px;
}
#icon3 img{
  width: 85px;
}
#icon3 p{
    font-size: 17px;
}
#rightside-4{
  padding-top: 55px;
  margin-left: 43px;
}
#rightside-4 img{
  width: 179px;
}
}


@media screen and (max-width:650px){
  header {
    font-size: 12px;
}
#nav2 p {
  font-size: 12px;
}
  #section1, #section2, #section4 {
    max-width: 380px;
}
#bloc-black1 {
  width: 131px;
  margin-left: 96px;
  height: 30px;
}
#p1, #p2 {
  font-size: 29px;
}
#bloc-black2 {
  width: 155px;
} 
.font2{
  font-size: 13px;
  width: 207px;
  margin-left: 20px;
}
#block-black3 {
  width: 96px;
  height: 24px;
  margin-left: 81px;
  margin-top: 21px;
}
#leftside-2 > p:first-child {
  font-size: 15px;
  margin-bottom: 61px;
  margin-left: 23px;
  margin-right: 25px;
}
#foto {
  width: 108px;
}
#foto p {
  font-size: 41px;
  margin-left: 30px;
}
#desc-nome1 {
  font-size: 14px;
  margin-top: 51px;
  margin-left: 19px;
}
#desc-nome2 {
  font-size: 13px;
  margin-left: 26px;
}
#rightside-2 {
  height: 294px;
}
#rightside-2 img {
  max-width: 137px;
}
#leftside-4 {
  padding-top: 23px;
  padding-bottom: 12px;
}
#block-black5 {
  max-width: 219px;
  max-height: 38px;
}
#block-black5 p {
  font-size: 29px;
}
#p2-section4 {
  font-size: 15px;
  width: 175px;
}
#icon1 {
  max-width: 277px;
  margin-top: 22px;
}
#icon1 img {
  width: 66px;
}
#icon1 p {
  font-size: 14px;
  width: 118px;
  margin-left: -2px;
}
#fale {
  font-size: 11px;
  width: 94px;
  margin-left: 6px;
  background-color: black;
  height: 27px;
  font-family: 'Poppins';
  color: white;
  border: 1px solid black;
  border-radius: 31px;
}
#icon2 {
  margin-left: 12px;
}
#icon2 img {
  width: 56px;
  height: 57px;
}
#icon2 p {
  font-size: 13px;
}
#icon3 {
  max-width: 199px;
}
#icon3 img {
  width: 79px;
}
#icon3 p {
  font-size: 15px;
}
#rightside-4 {
  padding-top: 16px;
  margin-left: 9px;
}
#rightside-4 img {
  width: 83px;
}
#section3 {
  max-width: 382px;
}
#leftside-3 > p:first-child, #p-section3 {
  font-size: 30px;
}
#block-black4 {
  width: 155px;
}
#p-section3 {
  margin-left: 60px;
}
#p1-section3 {
  font-size: 14px;
  width: 170px;
  margin-left: 29px;
}
#p2-section3 {
  font-size: 14px;
  width: 192px;
  margin-left: 27px;
}
#rightside-3{
  display: block;
}
#img1-sect3 {
  max-height: 276px;
  max-width: 142px;
  margin-right: 2px;
}
#img2-sect3 {
  display: none;
}
#img3-sect3 {
  display: none;
}
footer{
  font-size: 12px;
}
#content-rodape1 p {
  font-size: 16px;
}
#content-rodape4 img {
  width: 60px;
}
}
@media screen and (max-width:470px){
#container2, #container4{
  display: block;
}
}


/*Colocando animações nas section*/

#section1, #section3{
  animation: slideInLeft 2s ease-out;
}
#section2, #section4{
  animation: slideInRight 2s ease-out;
}

